<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>
    Hi <b th:text="${name}"></b>,
</p>

<p>
    We recent receive payment that made on <b th:text="${date}"></b> for the amount of <b th:text="${amount}"></b> for debt <b th:text="${debt}"></b>
</p>
<p>
    This is a confirmation that amount has been successfully received and deposited in your account <b th:text="${account}"></b>.
</p>

<p>
    Thank You for using our service,<br/>
    <a href="#">T2TrC e-Banking team</a><br/>
</p>

</div>

</body>
</html>
