<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>
    Hi <b th:text="${name}"></b>,
</p>

<p>Your Debt infomation</p>
<p><strong th:text="${holder}"></strong> have created debt with you</p>
<p>Amount: <strong th:text="${amount}"></strong>.</p>
<p>Payment via account number: <strong th:text="${accountHolder}"></strong></p>
<p>Date created: <strong th:text="${date}"></strong></p>
<p>Content debt: <strong th:text="${contentDebtInformation}"></strong></p>

<div style="margin-top:30px;">
    <p style="font-style:italic;">Thank for using the services.</p>
</div>

</div>

</body>
</html>