<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>
    Hi <b th:text="${name}"></b>,
</p>

<p>
    Welcome to T2TrC e-Banking. Please find your login details below.
</p>

<p>
    <span>Username:</span>
    <span th:text="${user_name}"></span>
</p>

<p>
    <span>Password:</span>
    <span th:text="${password}"></span>
</p>


<p>
    <b>Click here: </b><a href="#">To Start Using T2TrC e-Banking Now</a>
</p>

<p>
    Thank You,<br/>
    <a href="#">T2TrC e-Banking team</a><br/>
</p>

</div>

</body>
</html>
