<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    <span>your User Name:</span>
    <span th:text="${user_name}"></span>
</p>
<p>
    <span>your password:</span>
    <span th:text="${password}"></span>
</p>
</body>
</html>

<div><img width="1" height="1" src="https://ci6.googleusercontent.com/proxy/3aoAhypDp0p2-hgs6O-ibdY8FLHzppSp6d6_ZdUMxbJ7DgpF3e3O4VCuL75KpQZuL19a6FQZBkggj0nDhH9H3AqNolEUJiHIBImRHsJe4Lm-ofULgkvXkwtc5CViLOoNetAaDbV9mowBfgjfLccJkpnGRRNfIcfhPFl9iH2r__hSxEGa4k0lQdmKfbVSLNCbdUN0utWbULYPhLGnznqt-jmgiu_oepUx4kA-v81TJP-y3tmm3q6hBb6CMMK0bJiYVB-hD5oFjVkAq6b2QAWkqp_58QdOywJBV52iU113lQ7BUJrwM4rUlLtXY5BCYw_JUgrycvpnu2tOW1XmwUBl7oaa3qdOicziKY7RW-6RRV_Ys1kVxFhlMhoqgnE_ezFl6z9X0mzSxXUF=s0-d-e1-ft#https://www.amazon.com/gp/r.html?C=2W75CR7G4NUVY&amp;M=urn:rtn:msg:20200313065632a0df94e9d0f34e27b9028128b120p0na&amp;R=3Q9DN8M8JCR98&amp;T=O&amp;U=https%3A%2F%2Fimages-na.ssl-images-amazon.com%2Fimages%2FG%2F01%2Fnav%2Ftransp.gif&amp;H=GZVQU4JYR8IHY0JVKTW8GG4E7D4A&amp;ref_=pe_3619770_272516070_opens" class="CToWUd">
    <table align="center" cellspacing="0" id="m_4443593913954511159container" cellpadding="0">
        <tbody>
        <tr>
            <td>
                <table cellspacing="0" id="m_4443593913954511159content" cellpadding="0">
                    <tbody>
                    <tr>
                        <td id="m_4443593913954511159header">
                            <table cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td width="250" id="m_4443593913954511159logo">
                                        <img src="https://ci3.googleusercontent.com/proxy/bFyJxNRF0XdtUZwVxivH-4QbioRuP1aJugWPYx_KYkAt6MYJuE-atxjxhqq02Y3yqV9_64Tw--OxN2H-ZvRv3Zspy0kupvKm5Km3fk6af0OYeGGO5ccZmPIeuIkPwcnH7o1amqCbvL5iPmHR=s0-d-e1-ft#https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/te/logo._CB485949097_.png" id="m_4443593913954511159amazonLogo" class="CToWUd">                  </td>
                                    <td width="250" id="m_4443593913954511159title" valign="top" align="right"><p>Password assistance</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td id="m_4443593913954511159verificationMsg">
                            <p>To authenticate, please use the following One Time Password (OTP):</p>
                            <p class="m_4443593913954511159otp">724448</p>
                        </td>
                    </tr>

                    <tr>
                        <td id="m_4443593913954511159accountSecurity">
                            <p>Do not share this OTP with anyone. Amazon takes your account security very seriously. Amazon Customer Service will never ask you to disclose or verify your Amazon password, OTP, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click on the link—instead, report the email to Amazon for investigation.

                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td id="m_4443593913954511159closing">
                            <p>We hope to see you again soon.
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <img width="1" height="1" src="https://ci4.googleusercontent.com/proxy/0srPyBdUvJhRI0KDkfNYMXP5UNwjPW5WSoS4scyQP_6V3pT8GIKruDhKUOi1jiB0b2IcvX5uizc2khsriZyVgpwXBRU4eP7aSt-hWOFWuPeu1l_41HOvHqQn30RkFhrdikVuXqyvCV9myY6Q1_ezQfbWZ7g3w2J3ixwp4e2CXMfU-TZw6_cg_-giX1pysbyTN0dvTVKINC0yY1vIvTJE-_sj5n3y9l5B4yuuG12-Ebp-pO9z4sd3HRErGoHyDh18KZo1LDL6TUYm-Sn17qXe9VbSYiyD3Sig7Z6D2sXU2jouFdCZYLrge2fuvr-ktNcVdlEyxukXrQIjlMJ3JuUoVw6cWuK4bKg5YMAZd0PAvsqT1qUAwWAWBl-Mdm7qSUsbb2F3vrYu8w=s0-d-e1-ft#https://www.amazon.com/gp/r.html?C=2W75CR7G4NUVY&amp;M=urn:rtn:msg:20200313065632a0df94e9d0f34e27b9028128b120p0na&amp;R=EOXTOIV5S8Y2&amp;T=E&amp;U=https%3A%2F%2Fimages-na.ssl-images-amazon.com%2Fimages%2FG%2F01%2Fnav%2Ftransp.gif&amp;H=YTYA4H5C6PR3YGHIXK9GKTNAIKKA&amp;ref_=pe_3619770_272516070_open" class="CToWUd"></div>